<!-- LANDING PAGE HEADER -->
<section style="padding-top: 20px;">
    <div class="container ">
        <div class="row">
            <div class="col ">
                <!-- todo: placeholder text, inser image with logo here -->
                <img src="assets/FREECYCLE logo.png" alt="logo">
            </div>
            <div class="col pagination justify-content-end">
                <button type="button" class="btn rounded-pill w-25 btn-white" data-bs-toggle="button"
                    autocomplete="off">LOG IN</button>
            </div>
        </div>

    </div>
</section>


<!-- HERO -->
<section style="padding-top: 100px;" class="hero hero-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                    <img src="assets/freecycle-landing-page-v4.png" class="img-fluid" alt="freecycle-landing-page-v4">
                </div>
            </div>

            <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                <div class="hero-text">

                    <h1 class="text-white text-center" data-aos="fade-up">Lorem ipsum</h1>
                    <!-- this should be modifiable by admin, text should be taken from db -->
                    <p class="d-block py-3 pl-5 text-white text-center" data-aos="fade-up" data-aos-delay="200">
                        <i></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua.
                    </p>
                </div>
                <!-- CALL TO ACTION BUTTONS -->
                <div class="row gx-5">
                    <div class="col">
                        <div class="row align-items-center">
                            <input class="hero-btn-call-to-action" type="image" src="assets/Button-donate.svg"
                                alt="DONATE" width="90" height="90">
                        </div>
                        <div class="row justify-content-center text-white">
                            DONATE
                        </div>
                    </div>

                    <div class="col">
                        <div class="row align-items-center">
                            <input class="hero-btn-call-to-action" type="image" src="assets/Button-Find.svg"
                                alt="FIND" width="90" height="90">
                        </div>
                        <div class="row justify-content-center text-white">
                            FIND
                        </div>
                    </div>

                    <div class="col">
                        <div class="row align-items-center">
                            <input class="hero-btn-call-to-action" type="image" src="assets/button- Organise.svg"
                                alt="ORGANIZE" width="90" height="90">
                        </div>
                        <div class="row justify-content-center text-white">
                            ORGANIZE
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>